body { background: #111; padding:0 2em 2em 2em; }
h1, h2, h3, h4, a, p { color: #ddd; font-family: 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif; }
#loader_image { display:none; padding:0 14px 0 14px; }
#play_container { height:64px; display:inline; }
#container {
  height:512px;
  width:1024px; 
  display:none;
  border: solid 1px #CCC;
  -moz-box-shadow: 1px 1px 5px #ffffff;
  -webkit-box-shadow: 1px 1px 5px #ffffff;
  box-shadow: 1px 1px 5px #ffffff;
}
#loading { padding: 1em; }
#controls { display:none; clear:both; }
#controls p { margin-top:1.2em; }
#buttons { margin-top:2em; padding-right:1em; height:64px; vertical-align:middle; text-align:center; }
#sliders { margin-left:2em; }
.slider { margin-right:1.3em; margin-top:1em; }
.button#play { width:60px; margin-top:1em; }
input[type=range] { width:10em; -webkit-appearance: none; background-color: #222; border:1px solid #666; padding:0.2em; }
#audioUrl { width: 500px; }
